<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Noice</title>
  <link rel='stylesheet' href='https://file.myfontastic.com/SLzQsLcd7FmmzjBYTcyVW3/icons.css'>
  <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head> 

<body>

  <main class="c-main">
    <div id="container" class="c-section c-section--1">
      <div class="titling"><span>Noice Uploader</span>
        <div class="dropdown">
          <select name="menu" id="menu-items">
            <option disabled>Select Cource</option>
            <option value="00034_00.jpg" selected>OOO34_00.jpg</option>
            <option value="00055_00.jpg">2</option>
            <option value="00260_00.jpg">3</option>
          </select>
        </div>
        <label class="uploader" ondragover="return false">
          <i class="icon-upload icon"></i>
          <img src="" class="">
          <input type="file" accept="image/jpg,image/png,image/jpeg" name="file" class="file">
        </label>
      </div>
    </div>
    <div class="result c-section c-section--2">
      <div class="loader"></div>
      <img src="https://source.unsplash.com/ufFIweqSPd4/800x800" id="images">
      <div id="thumbnails">
        <img src="https://source.unsplash.com/ufFIweqSPd4/800x800">
        <img src="https://source.unsplash.com/O0uCm1WLnA0/800x800">
        <img src="https://source.unsplash.com/pV5ckb2HEVk/800x800">
        <img src="https://source.unsplash.com/j9QEFAQqaXc/800x800">
        <img src="https://source.unsplash.com/EXkbaeN05lY/800x800">
        <img src="https://source.unsplash.com/B2mq60Ksrsg/800x800">
      </div>
    </div>

  </main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js'></script>
  <script src="{{url_for('static', filename = 'script.js')}}"></script>
</body>

</html>
